:root {
  --primary-dark: #246EB7;
  --primary-light: #24AACF;
  --secondary-color: #7BAEA7;
  --fire-red: #ED1B24;
  --fire-orange: #F86A2C;
  --tertiary: #511E63;
  --background-dark: #01463D;
  --background-light: #FFF8DD;
}

@font-face {
  font-family: 'Facon';
  src: local('Facon'), url(./Styles/fonts/facon.ttf) format('ttf');
}

@font-face {
  font-family: 'LemonMilkBold';
  src: local('LemonMilkBold'), url(./Styles/fonts/LEMONMILK-Bold.otf) format('otf');
}

@font-face {
  font-family: 'LemonMilkLight';
  src: local('LemonMilkLight'), url(./Styles/fonts/LEMONMILK-Light.otf) format('otf');
}

@font-face {
  font-family: 'LemonMilkMedium';
  src: local('LemonMilkMedium'), url(./Styles/fonts/LEMONMILK-Medium.otf) format('otf');
}

@font-face {
  font-family: 'LemonMilkRegular';
  src: local('LemonMilkRegular'), url(./Styles/fonts/LEMONMILK-Regular.otf) format('otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
