.page-section {
    padding: 2rem 0;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'LemonMilkBold';
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: 'LemonMilkRegular';
    margin-bottom: 4rem;
  }
  
  @media (min-width: 768px) {
    section {
      padding: 9rem 0;
    }
  }

  .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  }
  .text-bg-light {
    color: #000 !important;
    background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1)) !important;
  }

  .text-center {
    text-align: center !important;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .text-uppercase {
    text-transform: uppercase !important;
  }

  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
  }

  .text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
  }

  .team-member {
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'LemonMilkBold';
  }
  .team-member img {
    width: 15rem;
    height: 15rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
  }
  .team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  
  .img-brand {
    height: 5rem;
  }

  .rounded-circle {
    border-radius: 50% !important;
  }