.content-center {
  text-align: center; /* Center text and inline elements */
}

.content-center img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

  .form-control {
    border-radius: 100px; 
    border: 1px solid #ccc; 
    padding: 10px;
    /* padding-right: 20px; */
    margin-bottom: 30px; 
  }

  .form-input {
    padding: 10px 30px;
    background-repeat: no-repeat;
    background-size: 20px; 
    background-position: right 10px center; 
  }
  .btn-secondary{
   color:  var(--primary-light);
   background-color: #ffffff;
  }
  
  .bold-label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 10px;
  }

  .round-edge {
    border-radius: 50px; 
  }
  
  .btnColor{
    background-color: var(--primary-dark);
    color: white;
  }

  .btnColor:hover{
    background-color: var(--primary-light);
    color: white;
  }
  
  .right-align-text{
    text-align:left;
  }
  
  .right-align {
    margin-right: 0;
    margin-left: auto;
    display: block;
  }
  .text-left {
    text-align: left;
  }
  
  .full-width {
    width: 207.5%;
  }
  .upload-box {
    width: 300px;
    height: 200px;
    border: 2px dashed #000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  /* .upload-box-1 {
    width: 200px;
    height: 200px;
    border: 2px dashed #000;
    border-radius: 100%;
    overflow: hidden;
  } */

  .centerRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px; /* Adjust as needed */
}

.upload-box-1 {
    width: 200px;
    height: 200px;
    border: 2px dashed #000;
    border-radius: 50%; /* 100% can also be used */
    overflow: hidden;
    background-size: cover; /* Ensure the background image covers the box */
}

/* Responsive Image */
@media (max-width: 768px) {
    .upload-box-1 {
        width: 150px; /* Smaller width on smaller screens */
        height: 150px;
    }
}

 
  .upload-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  
  .upload-text h2 {
    margin-top: 50px; 
  }
  
  .upload-text p {
    margin-top: 2px; 
  }
  
  
  .upload-label {
    cursor: pointer;
    font-family: 'LemonMilkRegular';
  }

  .upload-label-cnic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    font-family: 'LemonMilkRegular';
  }
  
  .blue-text {
    color: var(--primary-dark);
    text-decoration: underline;
  }
   
.circular-container {
  width: 80px;
  height: 50px;
  padding-top: 20px;
  /* border: 0px solid var(--primary-color); */
  border-radius: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--secondary-color); */
  position: relative;
  top:70px;
  margin: auto;
}


.uploaded-image {
  width: 20x;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  /* display: block;
  margin: auto;  */
  transform: translate(-50%, -50%); 
}
