/* Reset some default styles */
body, h1, h2, h3, input, label, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Apply a natural box layout model to all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'LemonMilkRegular';
}

/* Container styling */
.Mycontainer {
  height: 100vh;
  display: flex;
}

/* Left side styling */
.left-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side .text-center {
  text-align: center;
}

.left-side h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.left-side form {
  width: 30rem;
}

.left-side label {
  display: block;
  font-size: 1.15rem;
  font-weight: 500;
}

.left-side input:focus {
  border-color: #93c5fd;
}

.left-side .mb-4 {
  margin-bottom: 1rem;
}

.left-side .mt-4 {
  margin-top: 1rem;
}

.left-side .mr-2 {
  margin-right: 0.5rem;
}

/* Button styling */
.button {
  background-color: var(--primary-dark);
  color: #ffffff;
  padding: 0.5rem 2rem;
  border-radius: 9999px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--primary-light);
}

.links{
  text-decoration: none;
  color: var(--primary-dark);
}


/* Right side styling */
.right-side {
  flex: 1;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .right-side {
    display: none; /* Hide right side on mobile */
  }

  .left-side {
    flex: 1 0 100%; /* Take full width */
    justify-content: center; /* Center horizontally */
  }

  .left-side form {
    width: 90%; /* More responsive form width */
    max-width: 400px; /* Maximum width */
    margin: 0 auto; /* Center form */
  }

  .button {
    transform: scale(1); /* Adjust button size for mobile */
    padding: 10px 20px; /* Adjust padding */
  }
}

/* Adjustments for smaller mobile devices */
@media (max-width: 480px) {
  .left-side h2 {
    font-size: 1.75rem; /* Smaller font size for headers */
  }

  .left-side label {
    font-size: 1rem; /* Smaller font size for labels */
  }
}